/* ------------------------ */
/* common
/* ------------------------ */
body {
  margin: 110px 10px 0;
  background: #fff;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

main {
  margin: 0 10px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 1.2rem;
  color: #383838;
  margin-top: 5rem;
}

h2:not(:first-of-type) {
  margin-top: 10rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

pre {
  max-width: 95vw !important;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background: #ccc;
  width: 100%;
  margin: 0 -10px;
  padding: 0 15px;
  height: 90px;
  z-index: 10;
}

nav {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  nav {
    height: 50px;
  }
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

.mt60 {
  margin-top: 60px;
}

.list_wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list_wrap li {
  flex: 0 1 calc(50% - 40px);
  margin: 10px;
  padding: 10px;
  background: #fffdea;
}

#showMore1.list_wrap li {
  background: #eafff5;
}

#showMore2.list_wrap li {
  background: #f2eaff;
}

#showMore3.list_wrap li {
  background: #ffeaf3;
}

pre[data-title] {
  position: relative;
}

pre::after {
  content: attr(data-title);
  padding: 0 1em;
  background: #2196f3;
  color: #fff;
  font-size: 0.8em;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 3em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .list_wrap ul {
    display: block;
  }
}

.marker {
  background: #eafff5
}

.mt30 {
  margin-top: 30px;
}

.mt80 {
  margin-top: 80px;
}